<configuration>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension="woff" mimeType="application/font-woff" />
			<mimeMap fileExtension="woff2" mimeType="application/font-woff" />
		</staticContent>
		<rewrite>
			<rules>
				<rule name="Blog Redirect" stopProcessing="true">
					<match url="(brandollo-secures-first-place-melbourne-startup-competition\/*|shhh-4-free-marketing-tools-startups-small-business\/*|startup-marketing-checklist-brandollo\/*|tips-marketing-small-budget-2018\/*|b2b-brands-produce-original-content\/*|brandollo-secures-second-place-melbourne-tech-startup-competition\/*|twospace-co-founder-bill-ritten-speaks-brandollo-marketing-startup-journey\/*|7-marketing-basics-startups\/*|marketing-changing-podcast-interview-kevin-argus-rmit-university\/*|customer-pain-points-and-marketing\/*|clarity-of-purpose\/*|3-tips-creating-marketing-strategy\/*|brandollo-finalist-startupvic-professional-services-tech-night\/*|category[\w/-]*|marketing-blog[\w/]*)" />
					<action type="Redirect" url="https://blog.brandollo.com/{R:1}" />
				</rule>
				<rule name="NonWwwRedirect" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^www.brandollo\.com$" />
					</conditions>
					<action type="Redirect" url="https://brandollo.com/{R:1}" />
				</rule>
				<rule name="Remove trailing slash" stopProcessing="true">
					<match url="(.*)/$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Redirect" redirectType="Permanent" url="{R:1}" />
				</rule>
				<rule name="Go to Dashboard" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_URI}" pattern="(.*\/app\/?.*)" negate="false" />
					</conditions>
					<action type="Rewrite" url="/app/" />
				</rule>
				<rule name="Check file exists">
                    <match url="([^.]+)" />
                    <conditions>
                        <add input="{DOCUMENT_ROOT}/{R:1}.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
				<rule name="Handle History Mode and custom 404/500" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="(.*\/app\/?.*)" negate="true" />
					</conditions>
					<action type="Rewrite" url="/app.html" />
				</rule>
			</rules>
		</rewrite>
		<httpErrors errorMode="Custom" defaultResponseMode="File">
			<clear />
			<error statusCode="404" path="404.html"/>
		</httpErrors>
	</system.webServer>
</configuration>
